extends layout

block content
  <h1>cheaper plz.</h1>
  p Looking for the best price for an item online?<br/>
    | Our chick will let you know when it's at its cheapest.

  a.download(href) Download
  p.extension Our extension for Chrome.


  img.left-chick(src="/img/chickleftsized.png", alt="chicken of approval")
  img.right-chick(src="img/chickrightsized.png", alt="baller chicken")
